/* ----------------------------------------
Entire-Page Styles
---------------------------------------- */


* {
    border: 1px solid green;
}

body {
    display: flex;
    flex-direction: column;
    font-family: Helvetica;
}


/* ----------------------------------------
Header Section
---------------------------------------- */

header {
    background-color: #1F2937;
    display: flex;
    font-size: 18px;
    color: #E5E7EB;
    flex-direction: column;
}

.hlink-logo {
    font-size: 24px;
    color: #F9FAF8;
    font-weight: bold;
}

.top-header {
    display: flex;
    flex-direction: row;
    align-items: baseline;
    margin-top: 24px;
    margin-left: 128px;
    margin-right: 128px;
}

.hlink {
}

.rside {
    margin-left: auto;
}

.greeting {
    display: flex;
    margin-left: 128px;
    margin-right: 128px;
    margin-bottom: 64px;
}

.img-placeholder {
    display: flex;
    flex: 1 1 0;
    background-color: slategray;
}

.img-placeholder p {
    margin: auto;
}

.greet-text {
    flex: 1 1 0;
}

.greet-text h1,
.greet-text p {
    margin: 0;
}


/* -----------------------------------------
Info Section
----------------------------------------- */

.info {

}

.info-squares {

}

.sq-n-txt {

}

.square {

}


/* -----------------------------------------
Quote Section
----------------------------------------- */

.quote {

}

.quote-text {

}

.quote-source {

}

/* -----------------------------------------
Signup Section
----------------------------------------- */

.sign-up {

}

.signup-obj {

}

.signup-text {

}


/* -----------------------------------------
Footer Section
----------------------------------------- */

