/* ----------------------------------------
Entire-Page Styles
---------------------------------------- */


* {
    border: 1px solid black;
}

body {
    display: flex;
    flex-direction: column;
}


/* ----------------------------------------
Header Section
---------------------------------------- */

header {
    display: flex;
}

.hlink-logo {

}

.hlink {
    
}

.rside {
    margin-left: auto;
}


/* -----------------------------------------
Greeting Section
----------------------------------------- */

.greeting {

}

.img-placeholder {

}

.greet-text {

}


/* -----------------------------------------
Info Section
----------------------------------------- */

.info {

}

.info-squares {

}

.sq-n-txt {

}

.square {
    
}


/* -----------------------------------------
Quote Section
----------------------------------------- */

.quote {

}


/* -----------------------------------------
Signup Section
----------------------------------------- */

.sign-up {

}


/* -----------------------------------------
Footer Section
----------------------------------------- */

